target
.DS_Store
design/*.aux 
design/*.bbl 
design/*.blg 
design/*.fls 
design/*.log 
design/*.dvi 
design/*.fdb_latexmk 
design/*.out
node_modules
.vscode/
.env
.env*
tmp_test_script.sh
rustc-ice-*

notes.txt
kafka_data/
